{{extend 'layout.html'}}
<div class="row">
	<div class="span4 offset4" style="text-align: center;">
		<h1>{{=first_name}} {{=last_name}}</h1>
	</div>
</div>
<div class="row" style="text-align: center;">
	<div class="span4 offset4">
		<h2>Level: {{=level}}</h2>
	</div>
</div>
<div class="row" style="text-align: center;">
	<div class="span4 offset4">
		<img src="{{=URL('static', 'images/avatar.jpeg')}}" class="img-circle">
	</div>
</div>
<div class="row" style="text-align: center;">
	<div class="span4 offset4">
		<h4>Vitality: {{=vitality}}</h4>
	</div>
</div>
<div class="row" style="text-align: center;">
	<div class="span4 offset4">
		<h4>Strength: {{=strength}}</h4>
	</div>
</div>
<div class="row" style="text-align: center;">
	<div class="span4 offset4">
		<h4>Dexterity: {{=dexterity}}</h4>
	</div>
</div>