{{extend 'layout.html'}}
<h3>Set normal value to the sensor {{=mac_address}}</h3>
{{=form}}
<button onclick="reload()">Reload value</button>

<script>
	function reload(){
		window.location.reload();
	}
</script>